{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "quotes": ["error", "double"],
    "semi": ["error"],
    "indent": ["off"],
    "@typescript-eslint/indent": ["error", 2, {"SwitchCase": 1}],
    "no-multi-spaces": ["error"],
    "space-before-blocks": ["error"],
    "space-infix-ops": ["error"],
    "keyword-spacing": ["error"],
    "eol-last": ["error"],
    "comma-spacing": ["error"],
    "object-curly-spacing": ["error", "always"],
    "comma-dangle": ["error", "only-multiline"],
    "comma-style": ["error", "last"],
    "spaced-comment": ["error"],
    "no-multiple-empty-lines": ["error", { "max": 2, "maxEOF": 0 }],
    "curly": ["error"],
    "no-trailing-spaces": ["error"],
    "no-param-reassign": ["error"],
    "eqeqeq": ["error"],
    "space-in-parens": ["error", "never"]
  }
}